@{
    ViewBag.Title = "NotesNotFound";
    Layout = "~/Views/Shared/_myLayout_Student.cshtml";
}


    <!--========== PROMO BLOCK ==========-->
<div class="g-bg-position--center js__parallax-window" style="background: url(../../Content/Template/img/notes.jpg ) 50% 0 no-repeat fixed;height:300px">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
        <p class="text-uppercase g-font-size-48--xs g-font-weight--700 g-color--white g-letter-spacing--2 g-margin-b-25--xs">Download Notes</p>

    </div>
</div>
<!--========== END PROMO BLOCK ==========-->


<center>
    <div style="height:80px;">

    </div>
    <h2>No notes uploaded yet</h2>

    <div style="height:80px;">

    </div>
</center>