@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_myLayout_StudentHome.cshtml";
}
<link href="~/Content/Template/css/SliderCss.css" rel="stylesheet" />
<div class="g-promo-section">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="Icon_Container">
            <table>
                <tr>
                    <td class="Icon_Inside">
                        <img src="~/Content/Template/img/result.jpg" class="Icon_image" />

                    </td>
                    <td class="Icon_Inside">
                        <img src="~/Content/Template/img/n.png" class="Icon_image" />


                    </td>
                    <td class="Icon_Inside">
                        <img src="~/Content/Template/img/routine.jpg" class="Icon_image" />


                    </td>




                </tr>
            </table>

        </div>
        </div>
    </div>
