@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}



<div class="g-bg-color--sky-light">
    <div class="container g-padding-y-20--xs g-padding-y-40--sm">
        <div style="height:20px;"></div>
        <center><i style="font-size:25px;color:green;">@ViewBag.msg </i> </center>
        <div style="height:15px;"></div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3 col-xs-6 ">
                @*<img src=@ViewBag.img onerror="this.onerror = null; this.src = '/AdminImages/admin.jpg'  ">*@
                <img class="img-responsive img-thumbnail" src="@ViewBag.img" onerror="this.onerror = null; this.src = '/AdminImages/admin.jpg'  " />
            </div>
            <div class="col-sm-4 col-xs-6 g-margin-t-30--xs" style="text-align:left;">
                @*<div class="row">
                <i class="g-font-size-24--sm g-font-size-8--xs">Hello,</i>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>*@
                <i class="g-font-size-24--sm g-font-size-8--xs">Hello,<br /> <b> @ViewBag.nm </b>,<br /> @ViewBag.desig,<br /> Falakata High School.</i>
            </div>

        </div>
    </div>
    </div>

