@{
    ViewBag.Title = "StudentAdded";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}






<div class="g-bg-color--sky-light">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div align="center">
            <table>
                <tr class="blank_row"></tr>
                <tr class="blank_row"></tr>
                <tr>
                    <td>
                        <h2>Student Added Successfully</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Admin ID is @ViewBag.id</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Student ID is :@ViewBag.studentID_success</h4>
                    </td>
                </tr>

                <tr class="blank_row"></tr>
                <tr class="blank_row"></tr>
                <tr class="blank_row"></tr>
                <tr class="blank_row"></tr>



            </table>
        </div>
    </div>
</div>
