@{
    ViewBag.Title = "TeacherNotUpdated";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}


<link href="~/Content/themes/my_style.css" rel="stylesheet" />

<center><h2>Teacher Profile Not Updated</h2></center>
