@{
    ViewBag.Title = "TeacherUpdated";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}
<link href="~/Content/themes/my_style.css" rel="stylesheet" />

<div align="center">
    <table>
        <tr class="blank_row"></tr>
        <tr class="blank_row"></tr>
        <tr class="blank_row"></tr>
        <tr>
            <td><h2>Teacher Profile Updated Scessfully</h2></td>
        </tr>
        <tr class="blank_row"></tr>
        <tr class="blank_row"></tr>
        <tr class="blank_row"></tr>
    </table>
</div>


