@{
    ViewBag.Title = "TeacherNotAdded";
    Layout = "~/Views/Shared/myLayout_Admin.cshtml";
}


<link href="~/Content/themes/my_style.css" rel="stylesheet" />
<center><h2>Teacher Not Added</h2></center>
