@{
    ViewBag.Title = "NotUpdated";
    Layout = "~/Views/Shared/_myLayout_UpdatePassword.cshtml";
}


<div style="height:90px">

</div>
<center><h2>Password Not Updated</h2></center>
<div style="height:95px">

</div>
