@{
    ViewBag.Title = "PasswordUpdated";
    Layout = "~/Views/Shared/_myLayoutForgetPassword.cshtml";
}


<div style="height:40px;"></div>
<center>
    <h1>Your Password Updated Successfully</h1>
    Your new password is  <b> @ViewBag.passwrd </b>
    <br/><br /><br />
    @Html.ActionLink("Login Here", "Login", "PublicView", new { @style = "color:white;", @class="btn btn-success"})
</center>
<div style="height:60px;"></div>