@{
    ViewBag.Title = "UpdatedPasswordAdmin";
    Layout = "~/Views/Shared/_mylayout_UpdatePasswordAdmin.cshtml";
}
<div style="height:110px">

</div>
<center><h2>Your Password Is Successfully Updated</h2></center>
<div style="height:110px">

</div>
